/* Resert */

*{
    margin: 0;
    background-color: #F1F1F1;
}

/* Cabecalhos */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 87px;

    background-color: #F80032;
}

header img#logo-americanas{
    width: 225px;
    height: 40px;
}

header input{
    width: 577px;
    height: 46px;
    background-color: #FFFFFF;
}

.sub-header ul{
    display: flex;
    list-style: none;
}